<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create post</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Title</ion-label>
  <ion-input placeholder="epic title" [(ngModel)]="post.title"></ion-input>
  <ion-label>Content</ion-label>
  <ion-input placeholder="even epic-er content" [(ngModel)]="post.content"></ion-input>
  <ion-button (click)="submit()">Submit</ion-button>
</ion-content>
