<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create post</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="/home" routerLinkActive="active" expand="block">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Home
      </ion-button>

      <ion-button routerLink="/authenticate" routerLinkActive="active" expand="block">
        Account
      </ion-button>
      
      <ion-button expand="block" (click)="toggleTheme()">Change theme</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-label position="stacked">Title</ion-label>
  <ion-input placeholder="epic title" [(ngModel)]="post.title"></ion-input>

  <ion-label position="stacked" class="ion-margin-top">Content</ion-label>
  <ion-textarea auto-grow="true" placeholder="even epic-er content" [(ngModel)]="post.content"></ion-textarea>

  <ion-button expand="block" class="ion-margin-top" (click)="submit()">Submit</ion-button>

</ion-content>
