<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create post</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" expand="block">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Home
      </ion-button>
      <ion-button routerLink="/my-posts" routerLinkActive="active" expand="block">
        <ion-icon slot="start" name="document-outline"></ion-icon>
        My Posts
      </ion-button>
      <ion-button routerLink="/create-post" routerLinkActive="active" expand="block">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Create
      </ion-button>
      <ion-button routerLink="/authenticate" routerLinkActive="active" expand="block">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Account
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create post</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Title</ion-label>
  <ion-input placeholder="epic title" [(ngModel)]="post.title"></ion-input>
  <ion-label>Content</ion-label>
  <ion-input placeholder="even epic-er content" [(ngModel)]="post.content"></ion-input>
  <ion-button (click)="submit()">Submit</ion-button>
</ion-content>
